<!DOCTYPE html>
<html lang="en">
<%- include partials/metahead %>

<body>
  <div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <%- include partials/header %>
      <%- include partials/sidebar %>
    </nav>
    <!-- End: Navigation -->

    <!-- Page Content -->
    <div id="page-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">

            <h1 class="page-header"><%= title %></h1>

            <p align="right"><a href="/siswa/add" class="btn btn-outline btn-default"><i class="fa fa-file-o"></i>
                Tambah</a></p>
            <% if (errMessage) { %>
            <div class="alert alert-danger alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <%= errMessage %>
            </div>
            <% } %>
            <div class="dataTable_wrapper">
              <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                  <tr>
                    <th>NIS</th>
                    <th>Nama Siswa</th>
                    <th>Jurusan</th>
                    <th>Kelas</th>
                    <th>Tagihan SPP</th>
                    <th>Tagihan Praktek</th>
                    <th>Total Tagihan</th>
                  </tr>
                </thead>
                <tbody>
                  <% for (let i = 0; i < siswa.length; i++) { %>
                  <tr class="odd gradeX">
                    <td><%= siswa[i].nis %></td>
                    <td><%= siswa[i].nama %></td>
                    <td><%= siswa[i].jurusan %></td>
                    <td><%= siswa[i].kelas %></td>
                    <td><%= siswa[i].dataValues.tunggakan_spp %></td>
                    <td><%= siswa[i].dataValues.tunggakan_praktek %></td>
                    <td><%= siswa[i].dataValues.tunggakan_praktek + siswa[i].dataValues.tunggakan_spp %></td>


                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- End: Page Content -->
  </div> <!-- /#wrapper -->

  <%- include partials/jsfooter %>
</body>

</html>